<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!board?.name">Nova Prancha</ion-title>
    <ion-title *ngIf="board?.name">{{ board?.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row style="padding-bottom: 10%">
      <ion-item>
        <ion-input
          type="text"
          value=""
          placeholder="Nome da prancha"
          [(ngModel)]="board.name"
        ></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-col col-4 *ngFor="let number of boardArray; let i = index">
        <ion-card
          *ngIf="boardImagesUrl[i]"
          class="no-margin width-100"
          style="height: 140px;"
          [ngStyle]="{ border: getBorderColor(i) }"
          (click)="selectedImage(i)"
        >
          <img class="no-padding" [src]="boardImagesUrl[i]" />
        </ion-card>

        <ion-card
          *ngIf="!boardImagesUrl[i]"
          class="no-margin width-100 new-image-button"
          (click)="addSymbol(i)"
        >
          Adicionar
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 10%">
      <ion-col col-6 *ngIf="board?._id">
        <button ion-button color="secondary" (click)="duplicateBoard()">
          Duplicar prancha
        </button>
      </ion-col>

      <ion-col col-6>
        <button ion-button (click)="saveBoard()">Salvar prancha</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
