<ion-header>
	<ion-navbar>
		<ion-title *ngIf="!board?.name">Nova Prancha</ion-title>
		<ion-title *ngIf="board?.name">{{board?.name}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-grid>
		<ion-row style="padding-bottom: 10%">
			<ion-item>
				<ion-input type="text" value="" placeholder="Nome da prancha" [(ngModel)]="board.name"></ion-input>
			</ion-item>
		</ion-row>
		<ion-row>
			<ion-col col-4 *ngFor="let image of board?.images; let i = index" class="no-padding">
				<ion-card class="no-margin width-100 height-100" style="text-align: center">
					<img *ngIf="image" (click)="newImage(i)" src="{{image}}"/>

					<button ion-button class="font-size-1rem" *ngIf="!image" (click)="newImage(i)">
						Adicionar
					</button>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<button ion-button (click)="saveBoard()">Salvar prancha</button>
		</ion-row>
	</ion-grid>
</ion-content>
