<ion-header>
	<ion-navbar>
		<ion-title>Nova Prancha</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-input type="text" value="" placeholder="Nome da prancha" [(ngModel)]="board.name"></ion-input>
		</ion-row>
		<ion-row>
			<ion-col col-4 *ngFor="let image of board?.images; let i = index">
				<ion-card>
					<img *ngIf="image" src="{{image}}"/>

					<button ion-button *ngIf="!image" (click)="newImage(i)">Adicionar</button>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<button ion-button (click)="saveBoard()">Salvar prancha</button>
		</ion-row>
	</ion-grid>
</ion-content>
